.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 1rem;
}

.header__wrapper {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__nav {
}
