.fast-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background: var(--primary500);
}

.fast-page__countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fast-page__go-back-button {
  padding: var(--medium);
  position: absolute;
  top: var(--small);
  left: var(--small);
  cursor: pointer;
}

.fast-page__fast-name-wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: var(--large);
}

.fast-page__fast-name {
  margin-left: var(--small);
  font-weight: 600;
}
