@import url('https://rsms.me/inter/inter.css');
@import 'normalize.css/normalize.css';
@import '../styles/theme/index.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--grey200);
  font-size: var(--font-size);
  line-height: 1.5;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='checkbox'] {
  accent-color: var(--primary600);
}

h2 {
  font-weight: 600;
  font-size: var(--font-small);
  letter-spacing: 1px;
  color: var(--grey600);
  margin-top: 0;
  margin-bottom: var(--normal);
  font-variant: small-caps;
}

h3 {
  font-weight: 600;
  font-size: var(--font-normal);
  letter-spacing: 1px;
  color: var(--grey900);
  margin-top: 0;
  margin-bottom: var(--normal);
  font-variant: small-caps;
}

.icon-color {
  color: var(--primary900);
}
