.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  width: 225px;
  background-color: transparent;
  font-size: var(--font-small);
}

.navbar__pages {
  position: sticky;
  top: 0;
  width: 225px;
  height: 150px;
  margin-bottom: var(--medium);
  width: 225px;
  margin-left: 1rem;
}

.navbar__fasts {
  flex-grow: 1;
  overflow: auto;
  margin-left: 1rem;
}

.navbar__link:hover {
  border-color: var(--primary500);
}

.navbar__link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-left: 4px solid var(--grey200);
  padding-left: var(--small);
  border-radius: 0 var(--tiny) var(--tiny) 0;
  transition: 100ms ease-in-out;
  margin-bottom: var(--small);
}

.navbar__link svg {
  display: grid;
  place-content: center;
  margin-right: var(--small);
}

.navbar__current-fast {
  display: flex;
  align-items: center;
  margin-bottom: var(--normal);
}

.navbar__circle-wrapper {
  margin-right: var(--normal);
}

.navbar__no-current-fast {
}
