.button__wrapper .button__standard {
  font-variant: small-caps;
  letter-spacing: 1.5px;
  padding: 6px 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background: var(--primary100);
  color: var(--grey900);
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.button__wrapper .button__secondary {
  font-variant: small-caps;
  letter-spacing: 1.5px;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background: transparent;
  color: var(--grey900);
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  box-shadow: none;
  width: 100%;
}

.button__wrapper .button__standard:hover {
  background: hsl(218, 60%, 90%);
  transition: 100ms;
}

.button__wrapper .button__standard:active {
  transition: 100ms;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.2);
  box-shadow: inset 0 0.6em 2em -0.3em var(--primary100),
    inset 0 0 0em 0.05em var(--primary200);
}

.button__wrapper .button__secondary:hover {
  transition: 100ms;
}

.button__wrapper .button__secondary:active {
  transition: 100ms;
}
