.select select {
  height: 45px;
  align-items: center;
  padding: 0 var(--medium);
  display: block;
  border: 2px solid var(--grey200);
  box-sizing: border-box;
  color: var(--font-color);
  margin-top: var(--small);
  font-family: inherit;
  width: 100%;
  appearance: none;
  background: white;
  border-radius: 4px;
  box-shadow: none;
}

.select select:focus {
  outline: 2px solid transparent;
}

.select__wrapper {
  position: relative;
}

.select__select-icon {
  top: 14px;
  right: 16px;
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--grey600);
}
