.countdown__ticker {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

.countdown__ticker-section {
  display: grid;
  grid-template-columns: max-content 0.4em;
  text-align: center;
  align-self: center;
}

.countdown__ticker-section:last-child {
  grid-template-columns: max-content;
}

.countdown__ticker-section > div:first-child {
  justify-self: center;
}

.countdown__ticker-section > div:last-child {
  justify-self: center;
}

.countdown__completed {
  font-size: 14px;
  color: var(--success600);
  letter-spacing: 0.5px;
}
