.countdown__ticker {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  color: var(--accent700);
  /* font-family: 'Copse', serif; */
}

.countdown__ticker-section {
  display: grid;
  grid-template-columns: min-content 0.4em;
}

.countdown__ticker-section > div:first-child {
  justify-self: center;
}

.countdown__ticker-section > div:last-child {
  justify-self: center;
}

.countdown__completed {
  font-size: 14px;
  color: var(--success600);
  letter-spacing: 0.5px;
}
